<!-- <!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>
    <script src="/lib/handlebars.js"></script>

  </head>

  <body>
    <h1>Shortly</h1>
    <%- body %>
  </body>
</html> -->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="/angular/main.js"></script>
  </head>
  <body ng-app='ShortlyApp'>
    <h1>Shortly</h1>
    <div ng-controller="MainController">
      {{ person.name }}
      <button ng-click="getLinks()"> GET LINKS </button>
      <ul>
        <li ng-repeat="link in links">{{ link.title }}</li>
      </ul>
      <button ng-click="showCreate()"> Show Create View </button>
    </div>

    <div ng-controller="ShortenController">
      <div ng-view></div>
    </div>
  </body>
</html>
